<nav class="navbar bg-dark">
  <h1><a routerLink="">Library Service</a></h1>
    <ul>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'bookfunds']">Book funds</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'books']">Books</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'authors']">Authors</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'libraries']">Libraries</a>
      </li>
      <li routerLinkActive="active">
        <a [routerLink]="['/admin', 'publishers']">Publishers</a>
      </li>
      <li routerLinkActive="active" >
        <a [routerLink]="['/admin', 'genres']">Genres</a>
      </li>
    </ul>
</nav>
