<div class="home-page-card">
  <div style="caption-side: top;" class="text-center">
    Publishers
  </div>
  <div class="home-table" *ngIf="publsihers$ | async as publsihers; else loading">
    <table>
      <tr>
        <th scope="col">Name<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
        <th scope="col"(click)="addItem(publisher.id)"><fa-icon [icon]="faPlus" style="margin: 5px;"></fa-icon></th>
      </tr>
      <tr *ngFor="let publisher of publsihers">
        <td>{{publisher.name}}</td>
        <td><fa-icon [icon]="faEdit" style="margin: 5px;" (click)="editItem(publisher.id, publisher.name)"></fa-icon>
          <fa-icon [icon]="faTrashAlt" style="margin: 5px;" (click)="deleteItem(publisher.id, publisher.name)"></fa-icon>
        </td>
      </tr>
    </table>
  </div>
  <div class="home-table-search">
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Back</button></div>
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Next</button></div>
  </div>
</div>
<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
