<div class="home-page-card">
  <div class="home-table-search">
    <div class="home-table-search-item"><input type="text"></div>
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Search</button></div>
  </div>
  <div style="caption-side: top;" class="text-center">
    Library Service
  </div>
  <div class="home-table">
    <table>
        <tr>
          <th scope="col" style="display: flex;">Id<div><fa-icon [icon]="faLongArrowAltDown"></fa-icon></div></th>
          <th scope="col">First <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Last <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Handle <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">First <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Last <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Handle <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">First <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Las <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Handle <fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">First<fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Last<fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
          <th scope="col">Handle<fa-icon [icon]="faLongArrowAltDown"></fa-icon></th>
        </tr>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">4</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">5</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">6</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">7</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">8</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">9</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
        <tr>
          <th scope="row">10</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
    </table>
  </div>
  <div class="home-table-search">
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Back</button></div>
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Next</button></div>
  </div>
</div>
