<div class="home-page-card">
  <div class="home-table-search">
    <div class="home-table-search-item"><input type="text"></div>
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Search</button></div>
  </div>
  <div style="caption-side: top;" class="text-center">
    Library Service
  </div>
  <div class="home-table" *ngIf="libraryData$ | async as libraryData; else loading">
    <table>
        <tr>
          <th scope="col" (click)="filter()">Id<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Title<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Pages<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Year<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Author<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Genre<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Library<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Address<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Telephon<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Publisher<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
          <th scope="col">Amount<fa-icon [icon]="faLongArrowAltDown" style="margin: 5px;"></fa-icon></th>
        </tr>
        <tr *ngFor="let bookFund of libraryData">
          <th scope="row">{{bookFund.id}}</th>
          <td>{{bookFund.bookTitle}}</td>
          <td>{{bookFund.bookAmountPage}}</td>
          <td>{{bookFund.bookYear}}</td>
          <td>{{bookFund.authorName}} {{bookFund.authorSurname}} {{bookFund.authorPatronymic}}</td>
          <td>{{bookFund.genre}}</td>
          <td>{{bookFund.libraryName}}</td>
          <td>{{bookFund.libraryAddress}}</td>
          <td>{{bookFund.libraryTelephone}}</td>
          <td>{{bookFund.publisher}}</td>
          <td>{{bookFund.amount}}</td>
        </tr>
    </table>
  </div>
  <div class="home-table-search">
    <app-pagination></app-pagination>
  </div>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
