<div class="home-page-card">
  <div class="home-table-search">
    <div class="home-table-search-item"><input type="text"></div>
    <div class="home-table-search-item"><button type="submit" class="btn btn-dark">Search</button></div>
  </div>
  <div style="caption-side: top;" class="text-center">
    Library Service
  </div>
  <div class="home-table" *ngIf="libraryData$ | async as libraryData; else loading">
    <table>
        <tr>
          <th scope="col" (click)="filter('title')">Title<fa-icon [icon]="icons.title" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('pages')">Pages<fa-icon [icon]="icons.pages" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('year')">Year<fa-icon [icon]="icons.year" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('author')">Author<fa-icon [icon]="icons.author" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('genre')">Genre<fa-icon [icon]="icons.genre" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('library')">Library<fa-icon [icon]="icons.library" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('address')">Address<fa-icon [icon]="icons.address" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('telephone')">Telephon<fa-icon [icon]="icons.telephone" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('publisher')">Publisher<fa-icon [icon]="icons.publisher" style="margin: 5px;"></fa-icon></th>
          <th scope="col" (click)="filter('amount')">Amount<fa-icon [icon]="icons.amount" style="margin: 5px;"></fa-icon></th>
        </tr>
        <tr *ngFor="let bookFund of libraryData">s
          <td>{{bookFund.bookTitle}}</td>
          <td>{{bookFund.bookAmountPage}}</td>
          <td>{{bookFund.bookYear}}</td>
          <td>{{bookFund.authorName}} {{bookFund.authorSurname}} {{bookFund.authorPatronymic}}</td>
          <td>{{bookFund.genre}}</td>
          <td>{{bookFund.libraryName}}</td>
          <td>{{bookFund.libraryAddress}}</td>
          <td>{{bookFund.libraryTelephone}}</td>
          <td>{{bookFund.publisher}}</td>
          <td>{{bookFund.amount}}</td>
        </tr>
    </table>
  </div>
  <div class="home-table-search">
    <app-pagination></app-pagination>
  </div>
</div>

<ng-template #loading>
  <app-spinner></app-spinner>
</ng-template>
